/* _________________ Variables ____________________*/
/* _________________ Mixins ____________________*/
/* _________________ Middle ____________________*/
/* _________________ Settings ____________________*/
.inversed {
  color: #fff; }

/* _________________ Fonts stylizing ____________________ */
body {
  color: #333333;
  font-family: 'HelveticaNeueCyr-Light', arial, sans-serif, helvetica;
  line-height: 1.37; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica; }

p, span, a {
  font-size: 17px; }

a {
  text-decoration: none;
  color: #48435e; }

h4 {
  font-size: 18px; }

h3 {
  font-weight: 600;
  font-size: 23px; }

h2 {
  font-size: 33px;
  margin-bottom: 20px; }

/* _________________ Grid ____________________*/
.container {
  padding: 0; }

.col-container:after {
  content: '';
  display: block;
  clear: both; }

.col-5,
.col-9,
.col-4,
.col-7,
.col-8 {
  float: left;
  min-height: 1px; }

.col-5 {
  width: 20%; }

.col-4 {
  width: 25%; }

.col-7 {
  width: 60%; }

.col-9 {
  width: 80%; }

/* _________________ Header ____________________*/
header.head .top {
  padding-top: 28px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e3e3e3; }
  header.head .top .col-container {
    margin: 0 -15px; }
    header.head .top .col-container .col-5 {
      padding: 0 15px;
      width: 23%; }
    header.head .top .col-container .col-9 {
      padding: 0 15px;
      width: 77%; }
  header.head .top .logo a {
    display: block;
    text-decoration: none; }
    header.head .top .logo a img {
      width: 100%; }
  header.head .top .search-field-container .search-box {
    position: relative;
    -webkit-box-shadow: inset 0px 3px 0px 0px #e4e4e4;
    -moz-box-shadow: inset 0px 3px 0px 0px #e4e4e4;
    box-shadow: inset 0px 3px 0px 0px #e4e4e4;
    background-color: #f6f6f6;
    height: 40px; }
    header.head .top .search-field-container .search-box input[type="text"] {
      border: none;
      font-size: 17px;
      background-color: transparent;
      line-height: 40px;
      height: 100%;
      width: 100%;
      padding-left: 20px;
      padding-right: 40px; }
      header.head .top .search-field-container .search-box input[type="text"]::-webkit-input-placeholder {
        color: #666666; }
      header.head .top .search-field-container .search-box input[type="text"]:-moz-placeholder {
        color: #666666; }
      header.head .top .search-field-container .search-box input[type="text"]::-moz-placeholder {
        color: #666666; }
      header.head .top .search-field-container .search-box input[type="text"]:-ms-input-placeholder {
        color: #666666; }
    header.head .top .search-field-container .search-box .search-submit {
      position: absolute;
      background-color: transparent;
      border: none;
      top: 0;
      right: 0;
      font-size: 20px;
      color: #1d71a6;
      width: 40px;
      height: 100%; }
      header.head .top .search-field-container .search-box .search-submit:hover {
        opacity: 0.8; }
header.head .bottom .user-balance-block {
  float: right;
  padding-top: 11px;
  padding-bottom: 14px; }
  header.head .bottom .user-balance-block .fa {
    color: #ea3132;
    font-size: 17px;
    margin-right: 5px; }
  header.head .bottom .user-balance-block .balance {
    margin-right: 5px; }
  header.head .bottom .user-balance-block .delimiter {
    margin-right: 5px; }
  header.head .bottom .user-balance-block .value {
    font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica; }

/* _________________ Inputs ____________________*/
:focus {
  outline: none; }

/* _________________ Navigation ____________________*/
.main-nav {
  float: left; }
  .main-nav .main-navigation {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0;
    list-style: none; }
    .main-nav .main-navigation li {
      display: inline-block;
      margin-right: 24px; }
      .main-nav .main-navigation li:last-child {
        margin-right: 0; }
      .main-nav .main-navigation li a {
        color: #007bc9;
        border-bottom: 1px solid #b4d8ef;
        -webkit-transition: 0.18s linear;
        -moz-transition: 0.18s linear;
        -ms-transition: 0.18s linear;
        -o-transition: 0.18s linear;
        transition: 0.18s linear; }
        .main-nav .main-navigation li a.cash {
          color: #1ecd1e;
          border-color: #bdf0bd;
          font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica; }
        .main-nav .main-navigation li a:hover {
          text-decoration: none;
          opacity: 0.8; }
  .main-nav .toggle-nav {
    margin: 20px auto;
    border: none;
    background: none; }
    .main-nav .toggle-nav:hover {
      opacity: 0.6; }

.mobile-nav {
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 15px;
  border-top: 1px solid #e3e3e3; }
  .mobile-nav li {
    padding: 5px 0; }
    .mobile-nav li a {
      color: #1d71a6; }

.footer-nav-block .footer-nav {
  padding: 0;
  margin: 0;
  list-style: none; }
  .footer-nav-block .footer-nav:after {
    content: '';
    display: block;
    clear: both; }
  .footer-nav-block .footer-nav li {
    display: block;
    float: left;
    margin-right: 30px; }
    .footer-nav-block .footer-nav li:last-child {
      margin-right: 0;
      float: right; }
    .footer-nav-block .footer-nav li a {
      color: #fff;
      border-bottom: 1px solid #6f6f6f;
      -webkit-transition: 0.18s linear;
      -moz-transition: 0.18s linear;
      -ms-transition: 0.18s linear;
      -o-transition: 0.18s linear;
      transition: 0.18s linear; }
      .footer-nav-block .footer-nav li a.cash {
        color: #1ecd1e;
        border-color: #bdf0bd;
        font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica; }
      .footer-nav-block .footer-nav li a:hover {
        text-decoration: none;
        opacity: 0.8; }

.reg-btn {
  float: right;
  background-color: #ea3132;
  color: #fffcdb;
  line-height: 49px;
  padding-left: 18px;
  padding-right: 30px;
  -webkit-transition: 0.18s linear;
  -moz-transition: 0.18s linear;
  -ms-transition: 0.18s linear;
  -o-transition: 0.18s linear;
  transition: 0.18s linear; }
  .reg-btn i.fa {
    color: #fff;
    margin-right: 14px;
    font-size: 20px; }
  .reg-btn:hover {
    color: #fffcdb;
    text-decoration: none;
    opacity: 0.8; }

.sig-btn {
  float: right;
  background-color: #1d71a6;
  color: #fffcdb;
  line-height: 49px;
  padding-left: 18px;
  padding-right: 30px;
  -webkit-transition: 0.18s linear;
  -moz-transition: 0.18s linear;
  -ms-transition: 0.18s linear;
  -o-transition: 0.18s linear;
  transition: 0.18s linear; }
  .sig-btn i.fa {
    color: #fff;
    margin-right: 14px;
    font-size: 20px; }
  .sig-btn:hover {
    color: #fffcdb;
    text-decoration: none;
    opacity: 0.8; }

/* _________________ Footer ____________________*/
footer.site-footer {
  background: #333333;
  padding-top: 30px;
  padding-bottom: 27px; }
  footer.site-footer .copyright {
    color: #fff; }

/* _________________ Buttons ____________________*/
/* Large desktop */
@media (max-width: 1200px) {
  body header.head .bottom {
    text-align: center; }
    body header.head .bottom .main-nav {
      float: none;
      text-align: center; }
      body header.head .bottom .main-nav .main-navigation li {
        margin-right: 11px; }
    body header.head .bottom .reg-btn {
      float: none;
      display: inline-block; }
    body header.head .bottom .user-balance-block {
      float: none;
      text-align: center; }
  body .home-top-banner .steps-block .step {
    padding-left: 60px; }
    body .home-top-banner .steps-block .step .step-number {
      left: 10px; }
    body .home-top-banner .steps-block .step.registration .email-field-container {
      max-width: 100%;
      width: 100%;
      margin-bottom: 10px;
      float: none; }
    body .home-top-banner .steps-block .step.registration .social-group {
      float: none;
      text-align: center; }
      body .home-top-banner .steps-block .step.registration .social-group .social-btn {
        float: none;
        display: inline-block; }
  body .coupons-block .block-entry .coupon-item .buttons-block .promo-block .promo-code {
    letter-spacing: 0;
    font-size: 14px; } }
/* Small screens */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 991px) {
  body .bottom {
    text-align: center; }
    body .bottom .main-nav {
      float: none;
      display: block; }
    body .bottom .reg-btn {
      float: none;
      display: inline-block;
      margin-bottom: 30px; }
  body .home-top-banner .banner-title {
    margin-top: 5%; }
  body .home-top-banner .steps-block .step.registration {
    margin-bottom: 20px; }
  body .high-rate-block .block-entry .shop-item {
    width: 50%; }
    body .high-rate-block .block-entry .shop-item:nth-child(1), body .high-rate-block .block-entry .shop-item:nth-child(2) {
      border-top: 0; }
    body .high-rate-block .block-entry .shop-item:nth-child(3) {
      border-top: 1px solid #e3e3e3; }
  body .single-item-block .block-entry .top .left {
    float: none; }
    body .single-item-block .block-entry .top .left .preview {
      margin: 0 auto; }
  body .single-item-block .block-entry .top .right {
    float: none;
    text-align: center; }
  body .new-shops-block .block-entry .shop-item {
    padding-top: 19px; }
    body .new-shops-block .block-entry .shop-item:last-child {
      border-bottom: 1px solid #e3e3e3; }
  body .top-container .col-container {
    display: table;
    width: 100%; }
    body .top-container .col-container .col-5 {
      max-width: 189px; }
    body .top-container .col-container .col-9 {
      width: 100%; }
    body .top-container .col-container .col-5,
    body .top-container .col-container .col-9,
    body .top-container .col-container .col-7 {
      float: none;
      display: table-cell;
      vertical-align: top; }
  body .top-container .cabinet-block .block-entry .personal-listings {
    text-align: center; }
  body .middle-container .col-container {
    display: table;
    width: 100%; }
    body .middle-container .col-container .col-5 {
      max-width: 189px; }
    body .middle-container .col-container .col-9 {
      width: 100%; }
    body .middle-container .col-container .col-5,
    body .middle-container .col-container .col-9,
    body .middle-container .col-container .col-7 {
      float: none;
      display: table-cell;
      vertical-align: top; }
  body .middle-container .popular-shops-block .block-entry {
    border-left: 1px solid #e3e3e3; }
    body .middle-container .popular-shops-block .block-entry .shop-item {
      width: 50%;
      border-top: 0;
      border-left: 0;
      border-bottom: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3; }
      body .middle-container .popular-shops-block .block-entry .shop-item:nth-child(3n+3) {
        border-right: 1px solid #e3e3e3; }
      body .middle-container .popular-shops-block .block-entry .shop-item:last-child {
        border-right: 1px solid #e3e3e3; }
  body .middle-container .popular-shops-block.style-2 .block-entry {
    border-right: 1px solid #e3e3e3;
    border-left: 0; }
    body .middle-container .popular-shops-block.style-2 .block-entry .shop-item {
      width: 50%;
      border-top: 0;
      border-left: 1px solid #e3e3e3;
      border-right: 0; }
  body .middle-container .new-shops-block .block-entry .shop-item {
    border-right: 1px solid #e3e3e3;
    border-border: 1px solid #e3e3e3; }
  body .bottom-container .col-container {
    display: table;
    width: 100%; }
    body .bottom-container .col-container .col-5 {
      max-width: 189px;
      width: 25.3%; }
    body .bottom-container .col-container .col-9 {
      width: 100%; }
    body .bottom-container .col-container .col-5,
    body .bottom-container .col-container .col-9 {
      float: none;
      display: table-cell;
      vertical-align: top; }
  body .coupons-block .block-entry .coupon-item .preview {
    float: none;
    border-right: 0;
    margin: 0 auto; }
  body .coupons-block .block-entry .coupon-item .descr-block {
    width: 100%;
    text-align: center;
    float: none; }
  body .coupons-block .block-entry .coupon-item .buttons-block {
    float: none;
    width: 100%;
    padding-left: 30px; }
  body .coupons-block.style-2 .block-entry .coupon-item .descr-block {
    width: 100%; }
  body .coupons-block.style-2 .block-entry .coupon-item .buttons-block {
    width: 100%; }
  body .coupons-block.style-2 .block-entry .coupon-btn-block {
    padding-right: 30px;
    text-align: center;
    border-left: 1px solid #e3e3e3; }
  body .site-footer .col-5,
  body .site-footer .col-9 {
    width: 100%;
    float: none;
    text-align: center; }
  body .site-footer .footer-nav-block {
    margin-top: 10px; }
    body .site-footer .footer-nav-block .footer-nav li {
      display: inline-block;
      margin-right: 15px;
      float: none; } }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body header.head .top .col-container .col-5,
  body header.head .top .col-container .col-9 {
    width: 100%;
    float: none; }
  body header.head .top .col-container .logo {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 20px; }
  body header.head .top .col-container .search-field-container {
    max-width: 75%;
    margin: 0 auto; }
  body .home-top-banner .banner-title {
    font-size: 22px; }
  body .home-top-banner .steps-block .step {
    margin-bottom: 20px; }
  body .top-container .col-container {
    display: block; }
    body .top-container .col-container .col-5,
    body .top-container .col-container .col-7 {
      width: 100%;
      max-width: 100%;
      display: block; }
  body .top-container .sidecolumn .widget .widget-entry .categories-listing {
    text-align: center; }
  body .middle-container .col-container {
    display: block; }
    body .middle-container .col-container .col-5,
    body .middle-container .col-container .col-7 {
      width: 100%;
      display: block;
      max-width: 100%; }
  body .middle-container .popular-shops-block .block-entry .shop-item {
    border-right: 0;
    width: 50%; }
    body .middle-container .popular-shops-block .block-entry .shop-item:nth-child(3n+3), body .middle-container .popular-shops-block .block-entry .shop-item:last-child {
      border-right: 0; }
  body .middle-container .popular-shops-block.style-2 .block-entry .shop-item {
    width: 100%; }
  body .bottom-container .col-container {
    display: block; }
    body .bottom-container .col-container .col-5,
    body .bottom-container .col-container .col-7 {
      width: 100%;
      display: block;
      max-width: 100%; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  body .high-rate-block .block-entry .shop-item {
    width: 100%; }
  body .middle-container .popular-shops-block .block-entry .shop-item {
    width: 100%; } }
/* _________________ Fonts ____________________*/
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url("../fonts/helveticaneuecyr-bold/HelveticaNeueCyr-Bold_gdi.eot");
  src: url("../fonts/helveticaneuecyr-bold/HelveticaNeueCyr-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold/HelveticaNeueCyr-Bold_gdi.woff") format("woff"), url("../fonts/helveticaneuecyr-bold/HelveticaNeueCyr-Bold_gdi.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold/HelveticaNeueCyr-Bold_gdi.svg#HelveticaNeueCyr-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265; }
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("../fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light_gdi.eot");
  src: url("../fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light_gdi.woff") format("woff"), url("../fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light_gdi.ttf") format("truetype"), url("../fonts/helveticaneuecyr-light/HelveticaNeueCyr-Light_gdi.svg#HelveticaNeueCyr-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265; }
/* _________________ Content site ____________________*/
.home-top-banner {
  background: url("../images/upload/banners/home-top-banner.jpg") center no-repeat;
  background-size: cover;
  min-height: 480px; }
  .home-top-banner .banner-title {
    font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
    font-size: 38px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-top: 13%;
    margin-bottom: 28px; }
  .home-top-banner .steps-block .step {
    position: relative;
    padding-left: 88px;
    padding-top: 16px;
    padding-bottom: 30px; }
    .home-top-banner .steps-block .step.registration {
      -webkit-box-shadow: inset 0px 3px 0px 0px #57b799;
      -moz-box-shadow: inset 0px 3px 0px 0px #57b799;
      box-shadow: inset 0px 3px 0px 0px #57b799;
      padding-right: 35px; }
      .home-top-banner .steps-block .step.registration .email-field-container {
        max-width: 200px;
        float: left; }
        .home-top-banner .steps-block .step.registration .email-field-container .email-box {
          position: relative;
          -webkit-box-shadow: inset 0px 3px 0px 0px #e4e4e4;
          -moz-box-shadow: inset 0px 3px 0px 0px #e4e4e4;
          box-shadow: inset 0px 3px 0px 0px #e4e4e4;
          background-color: #f6f6f6;
          height: 40px; }
          .home-top-banner .steps-block .step.registration .email-field-container .email-box input[type="email"] {
            border: none;
            font-size: 17px;
            background-color: transparent;
            line-height: 40px;
            height: 100%;
            width: 100%;
            padding: 0;
            padding-left: 20px;
            padding-right: 40px; }
            .home-top-banner .steps-block .step.registration .email-field-container .email-box input[type="email"]::-webkit-input-placeholder {
              color: #666666; }
            .home-top-banner .steps-block .step.registration .email-field-container .email-box input[type="email"]:-moz-placeholder {
              color: #666666; }
            .home-top-banner .steps-block .step.registration .email-field-container .email-box input[type="email"]::-moz-placeholder {
              color: #666666; }
            .home-top-banner .steps-block .step.registration .email-field-container .email-box input[type="email"]:-ms-input-placeholder {
              color: #666666; }
          .home-top-banner .steps-block .step.registration .email-field-container .email-box .email-submit {
            position: absolute;
            background-color: #ea3132;
            border: none;
            top: 0;
            right: 0;
            font-size: 20px;
            color: #fff;
            width: 40px;
            height: 100%; }
            .home-top-banner .steps-block .step.registration .email-field-container .email-box .email-submit:hover {
              opacity: 0.8; }
      .home-top-banner .steps-block .step.registration .social-group {
        float: right; }
        .home-top-banner .steps-block .step.registration .social-group .social-btn {
          display: block;
          float: left;
          width: 40px;
          height: 40px;
          background: url("../images/theme/social-sprite.png");
          margin-right: 1px; }
          .home-top-banner .steps-block .step.registration .social-group .social-btn.ok {
            background-position: -41px 0; }
          .home-top-banner .steps-block .step.registration .social-group .social-btn.fb {
            background-position: -82px 0; }
          .home-top-banner .steps-block .step.registration .social-group .social-btn.twitter {
            background: url("/images/twitter-ico.png") no-repeat;
            background-size: 40px 40px; }
          .home-top-banner .steps-block .step.registration .social-group .social-btn:hover {
            text-decoration: none;
            opacity: 0.8; }
        .home-top-banner .steps-block .step.registration .social-group:after {
          content: '';
          display: block;
          clear: both; }
    .home-top-banner .steps-block .step.simple {
      background-color: rgba(0, 0, 0, 0.5);
      padding-right: 17px; }
      .home-top-banner .steps-block .step.simple .step-title {
        margin-bottom: 11px; }
    .home-top-banner .steps-block .step.white-bg {
      background-color: #fff; }
    .home-top-banner .steps-block .step .step-number {
      position: absolute;
      top: 0;
      left: 25px;
      display: block;
      width: 43px;
      height: 43px;
      line-height: 43px;
      background-color: #57b799;
      font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
      font-size: 30px;
      color: #fff;
      text-align: center; }
    .home-top-banner .steps-block .step .step-title {
      margin-bottom: 17px; }
    .home-top-banner .steps-block .step .share-link {
      color: #007bc9;
      display: block;
      max-width: 160px; }
    .home-top-banner .steps-block .step .text {
      margin: 0; }
  .home-top-banner .steps-block.registred .registration {
    padding-bottom: 36px; }

.top-container .col-container {
  height: 100%;
  display: table;
  width: 100%; }
  .top-container .col-container .col-5,
  .top-container .col-container .col-7 {
    float: none;
    display: table-cell;
    height: 100%;
    vertical-align: top; }
  .top-container .col-container .sidecolumn {
    height: 100%; }
    .top-container .col-container .sidecolumn .widget {
      height: 100%; }
      .top-container .col-container .sidecolumn .widget .widget-entry {
        height: 100%; }
        .top-container .col-container .sidecolumn .widget .widget-entry .categories-listing {
          height: 100%; }

.cart-icon {
  display: inline-block;
  height: 29px;
  width: 34px;
  background: url("../images/theme/icons-sprite.png");
  background-position: 0 0; }

.calculate-icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  background: url("../images/theme/icons-sprite.png");
  background-position: -165px 0; }

.like-icon {
  display: inline-block;
  height: 31px;
  width: 28px;
  background: url("../images/theme/icons-sprite.png");
  background-position: -54px 0; }

.circle-icon {
  display: inline-block;
  height: 38px;
  width: 38px;
  background: url("../images/theme/icons-sprite.png");
  background-position: -103px 0; }

.star-icon {
  display: inline-block;
  height: 36px;
  width: 38px;
  background: url("../images/theme/icons-sprite.png");
  background-position: -221px 0; }

.question-icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  background: url("../images/theme/icons-sprite.png");
  background-position: 0 -53px; }

.eye-icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  background: url("../images/theme/icons-sprite.png");
  background-position: -53px -53px; }

.smile-icon {
  display: inline-block;
  height: 37px;
  width: 37px;
  background: url("../images/theme/icons-sprite.png");
  background-position: -106px -53px; }

.percent-icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  background: url("../images/theme/icons-sprite.png");
  background-position: -160px -53px; }

.user-icon {
  display: inline-block;
  height: 32px;
  width: 31px;
  background: url("../images/theme/icons-sprite.png");
  background-position: -221px -53px; }

.sidecolumn .widget.categories .widget-heading {
  background-color: #084b76; }
.sidecolumn .widget.categories .widget-entry .categories-listing {
  padding-top: 18px;
  padding-left: 30px;
  margin: 0;
  list-style: none;
  background-color: #1d71a6;
  padding-bottom: 20px; }
  .sidecolumn .widget.categories .widget-entry .categories-listing .single-category {
    padding: 3px 0; }
    .sidecolumn .widget.categories .widget-entry .categories-listing .single-category a {
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      .sidecolumn .widget.categories .widget-entry .categories-listing .single-category a:hover {
        text-decoration: none;
        opacity: 0.8; }
.sidecolumn .widget.shops-week .widget-heading {
  background-color: #57b799; }
.sidecolumn .widget.shops-week .widget-entry .shop-week-holder {
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0px 1px #d8f6ed;
  -moz-box-shadow: inset 0px 0px 0px 1px #d8f6ed;
  box-shadow: inset 0px 0px 0px 1px #d8f6ed; }
  .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .prev-slide,
  .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .next-slide {
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
    margin: 0 -25px;
    color: #1d71a6;
    top: 44px; }
    .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .prev-slide:hover,
    .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .next-slide:hover {
      cursor: pointer;
      opacity: 0.8; }
  .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .prev-slide {
    left: 0; }
    .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .prev-slide i.fa {
      margin-right: -20px; }
  .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .next-slide {
    right: 0; }
    .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .next-slide i.fa {
      margin-left: -20px; }
  .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel {
    overflow: hidden;
    position: relative; }
    .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 20000em;
      position: relative; }
      .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul li {
        float: left; }
        .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul li .preview a {
          display: block; }
          .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul li .preview a img {
            width: 100%; }
          .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul li .preview a:hover {
            text-decoration: none; }
        .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul li .cash-back-container {
          text-align: center;
          padding-top: 30px;
          padding-bottom: 27px; }
          .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul li .cash-back-container .new-cashback {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            background-color: #ffe7e7;
            -webkit-box-shadow: inset 0px -3px 0px 0px #ffd4d4;
            -moz-box-shadow: inset 0px -3px 0px 0px #ffd4d4;
            box-shadow: inset 0px -3px 0px 0px #ffd4d4;
            text-align: center; }
            .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul li .cash-back-container .new-cashback .percent,
            .sidecolumn .widget.shops-week .widget-entry .shop-week-holder .shop-week-carousel ul li .cash-back-container .new-cashback .cashback {
              font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
              text-transform: uppercase;
              color: #ea3132; }
.sidecolumn .widget.buttons-nav .side-button {
  display: table;
  height: 81px;
  width: 100%;
  padding: 0 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b80b6+66,1d71a6+100 */
  background: #2b80b6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2b80b6 66%, #1d71a6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2b80b6 66%, #1d71a6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2b80b6 66%, #1d71a6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b80b6', endColorstr='#1d71a6',GradientType=0 );
  /* IE6-9 */ }
  .sidecolumn .widget.buttons-nav .side-button .button-name {
    display: table-cell;
    vertical-align: middle;
    text-align: left; }
  .sidecolumn .widget.buttons-nav .side-button .button-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }
  .sidecolumn .widget.buttons-nav .side-button:hover {
    text-decoration: none;
    opacity: 0.8; }
.sidecolumn .widget .widget-heading {
  height: 80px;
  width: 100%;
  padding: 0 30px;
  display: table; }
.sidecolumn .widget .side-name {
  display: table-cell;
  vertical-align: middle; }
.sidecolumn .widget .side-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: right; }

.high-rate-block .block-heading,
.new-shops-block .block-heading,
.popular-shops-block .block-heading,
.coupons-block .block-heading,
.cabinet-block .block-heading,
.single-item-block .block-heading {
  height: 80px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: table;
  background-color: #57b799; }
  .high-rate-block .block-heading .block-name,
  .new-shops-block .block-heading .block-name,
  .popular-shops-block .block-heading .block-name,
  .coupons-block .block-heading .block-name,
  .cabinet-block .block-heading .block-name,
  .single-item-block .block-heading .block-name {
    display: table-cell;
    vertical-align: middle; }
  .high-rate-block .block-heading .block-icon,
  .new-shops-block .block-heading .block-icon,
  .popular-shops-block .block-heading .block-icon,
  .coupons-block .block-heading .block-icon,
  .cabinet-block .block-heading .block-icon,
  .single-item-block .block-heading .block-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }

.high-rate-block .block-entry:after,
.new-shops-block .block-entry:after,
.popular-shops-block .block-entry:after {
  content: '';
  display: block;
  clear: both; }
.high-rate-block .block-entry .shop-item,
.new-shops-block .block-entry .shop-item,
.popular-shops-block .block-entry .shop-item {
  width: 33.33355%;
  float: left;
  padding: 0 20px;
  padding-top: 17px;
  padding-bottom: 18px;
  border-top: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  position: relative; }
  .high-rate-block .block-entry .shop-item .preview,
  .new-shops-block .block-entry .shop-item .preview,
  .popular-shops-block .block-entry .shop-item .preview {
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 4px;
    position: relative;
    background: #fff;
    margin-bottom: 29px; }
    .high-rate-block .block-entry .shop-item .preview img,
    .new-shops-block .block-entry .shop-item .preview img,
    .popular-shops-block .block-entry .shop-item .preview img {
      max-width: 100%; }
    .high-rate-block .block-entry .shop-item .preview:before, .high-rate-block .block-entry .shop-item .preview:after,
    .new-shops-block .block-entry .shop-item .preview:before,
    .new-shops-block .block-entry .shop-item .preview:after,
    .popular-shops-block .block-entry .shop-item .preview:before,
    .popular-shops-block .block-entry .shop-item .preview:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .high-rate-block .block-entry .shop-item .preview:after,
    .new-shops-block .block-entry .shop-item .preview:after,
    .popular-shops-block .block-entry .shop-item .preview:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 11px;
      margin-left: -11px; }
    .high-rate-block .block-entry .shop-item .preview:before,
    .new-shops-block .block-entry .shop-item .preview:before,
    .popular-shops-block .block-entry .shop-item .preview:before {
      border-color: rgba(227, 227, 227, 0);
      border-top-color: #e3e3e3;
      border-width: 12px;
      margin-left: -12px; }
  .high-rate-block .block-entry .shop-item .new-cashback,
  .new-shops-block .block-entry .shop-item .new-cashback,
  .popular-shops-block .block-entry .shop-item .new-cashback {
    display: block;
    padding: 10px 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #ffe7e7;
    -webkit-box-shadow: inset 0px -3px 0px 0px #ffd4d4;
    -moz-box-shadow: inset 0px -3px 0px 0px #ffd4d4;
    box-shadow: inset 0px -3px 0px 0px #ffd4d4;
    text-align: center;
    margin-bottom: 12px; }
    .high-rate-block .block-entry .shop-item .new-cashback .percent,
    .high-rate-block .block-entry .shop-item .new-cashback .cashback,
    .new-shops-block .block-entry .shop-item .new-cashback .percent,
    .new-shops-block .block-entry .shop-item .new-cashback .cashback,
    .popular-shops-block .block-entry .shop-item .new-cashback .percent,
    .popular-shops-block .block-entry .shop-item .new-cashback .cashback {
      font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
      text-transform: uppercase;
      color: #ea3132; }
  .high-rate-block .block-entry .shop-item .old-cashback,
  .new-shops-block .block-entry .shop-item .old-cashback,
  .popular-shops-block .block-entry .shop-item .old-cashback {
    display: block;
    text-align: center;
    font-size: 13px; }
  .high-rate-block .block-entry .shop-item:nth-child(1), .high-rate-block .block-entry .shop-item:nth-child(2), .high-rate-block .block-entry .shop-item:nth-child(3),
  .new-shops-block .block-entry .shop-item:nth-child(1),
  .new-shops-block .block-entry .shop-item:nth-child(2),
  .new-shops-block .block-entry .shop-item:nth-child(3),
  .popular-shops-block .block-entry .shop-item:nth-child(1),
  .popular-shops-block .block-entry .shop-item:nth-child(2),
  .popular-shops-block .block-entry .shop-item:nth-child(3) {
    border-top: 0; }
  .high-rate-block .block-entry .shop-item a,
  .new-shops-block .block-entry .shop-item a,
  .popular-shops-block .block-entry .shop-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear; }
    .high-rate-block .block-entry .shop-item a:hover,
    .new-shops-block .block-entry .shop-item a:hover,
    .popular-shops-block .block-entry .shop-item a:hover {
      text-decoration: none;
      background: rgba(255, 255, 255, 0.3); }

.new-shops-block .block-heading {
  background-color: #217d60; }
.new-shops-block .block-entry .shop-item {
  width: 100%;
  border-bottom: 1px solid #e3e3e3; }
  .new-shops-block .block-entry .shop-item:last-child {
    border-bottom: 0; }

.popular-shops-block .block-heading {
  background-color: #217d60; }
.popular-shops-block .block-entry .shop-item {
  width: 25%; }
.popular-shops-block.style-2 .block-heading {
  background-color: #57b799; }
.popular-shops-block.style-2 .block-entry .shop-item {
  width: 33.333333%; }

.coupons-block .block-heading {
  background-color: #6f59af; }
.coupons-block .block-entry .coupon-item {
  border: 1px solid #e3e3e3;
  border-top: 0;
  padding: 30px 0; }
  .coupons-block .block-entry .coupon-item .preview {
    float: left;
    border-right: 1px solid #e3e3e3;
    width: 25.6%; }
    .coupons-block .block-entry .coupon-item .preview a {
      display: block; }
      .coupons-block .block-entry .coupon-item .preview a img {
        max-width: 90%;
        margin: 0 auto;
        display: block; }
  .coupons-block .block-entry .coupon-item .descr-block {
    float: left;
    padding: 0 30px;
    width: 52.4%; }
    .coupons-block .block-entry .coupon-item .descr-block .coupon-title {
      font-size: 17px;
      display: block;
      margin-bottom: 4px; }
      .coupons-block .block-entry .coupon-item .descr-block .coupon-title a {
        color: #1d71a6;
        text-decoration: underline; }
  .coupons-block .block-entry .coupon-item .buttons-block {
    float: left;
    width: 22%;
    padding-right: 30px; }
    .coupons-block .block-entry .coupon-item .buttons-block .open-action-btn {
      display: block;
      color: #084b76;
      font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
      font-size: 18px;
      text-decoration: none;
      background-color: #cbe7f9;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      padding: 12px 0;
      -webkit-box-shadow: inset 0px -2px 0px 0px #a5cfea;
      -moz-box-shadow: inset 0px -2px 0px 0px #a5cfea;
      box-shadow: inset 0px -2px 0px 0px #a5cfea;
      margin-bottom: 10px;
      text-align: center; }
      .coupons-block .block-entry .coupon-item .buttons-block .open-action-btn:hover {
        opacity: 0.8; }
    .coupons-block .block-entry .coupon-item .buttons-block .open-promo-btn {
      display: block;
      color: #ea3132;
      font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
      font-size: 18px;
      text-decoration: none;
      background-color: #ffe7e7;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      padding: 12px 0;
      text-align: center;
      -webkit-box-shadow: inset 0px -2px 0px 0px #ffd4d4;
      -moz-box-shadow: inset 0px -2px 0px 0px #ffd4d4;
      box-shadow: inset 0px -2px 0px 0px #ffd4d4; }
      .coupons-block .block-entry .coupon-item .buttons-block .open-promo-btn:hover {
        opacity: 0.8; }
      .coupons-block .block-entry .coupon-item .buttons-block .open-promo-btn.active {
        display: none; }
    .coupons-block .block-entry .coupon-item .buttons-block .promo-block {
      background-color: #ffe7e7;
      padding-top: 14px;
      padding-bottom: 12px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      display: none; }
      .coupons-block .block-entry .coupon-item .buttons-block .promo-block .promo-text {
        display: block;
        text-align: center;
        font-size: 14px;
        color: #333333; }
      .coupons-block .block-entry .coupon-item .buttons-block .promo-block .promo-code {
        display: block;
        padding: 0 5px;
        text-align: center;
        font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
        font-size: 18px;
        color: #ea3132;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-break: break-all; }
      .coupons-block .block-entry .coupon-item .buttons-block .promo-block.active {
        display: block; }
  .coupons-block .block-entry .coupon-item:after {
    content: '';
    display: block;
    clear: both; }
.coupons-block .block-entry .coupon-btn-block {
  padding-top: 24px;
  padding-left: 30px;
  padding-bottom: 25px;
  border-right: 1px solid #e3e3e3; }
  .coupons-block .block-entry .coupon-btn-block .all-coupons-btn {
    display: block;
    color: #084b76;
    font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
    font-size: 18px;
    text-decoration: none;
    background-color: #cbe7f9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 12px 41px;
    -webkit-box-shadow: inset 0px -2px 0px 0px #a5cfea;
    -moz-box-shadow: inset 0px -2px 0px 0px #a5cfea;
    box-shadow: inset 0px -2px 0px 0px #a5cfea;
    text-align: center; }
    .coupons-block .block-entry .coupon-btn-block .all-coupons-btn:hover {
      opacity: 0.8; }
.coupons-block.style-2 .block-entry .coupon-item .descr-block {
  width: 71%; }
.coupons-block.style-2 .block-entry .coupon-item .buttons-block {
  width: 29%; }
.coupons-block.style-2 .block-entry .coupon-btn-block .all-coupons-btn {
  display: inline-block; }

.main-description-block {
  margin-bottom: 30px; }
  .main-description-block .block-heading {
    background-color: #e3e3e3;
    padding: 26px 30px;
    margin-bottom: 1px; }
    .main-description-block .block-heading .block-name {
      margin: 0; }
  .main-description-block .block-entry {
    background-color: #e3e3e3;
    padding: 22px 32px;
    padding-bottom: 17px; }
  .main-description-block.style-2 .block-heading {
    padding-bottom: 0;
    margin-bottom: 0; }
  .main-description-block.style-2 .block-entry {
    padding-top: 16px;
    padding-bottom: 30px; }
    .main-description-block.style-2 .block-entry .text {
      margin-bottom: 24px; }

.cabinet-block {
  height: 100%; }
  .cabinet-block .block-heading {
    background-color: #333333; }
  .cabinet-block .block-entry {
    height: 100%;
    background-color: #e3e3e3;
    padding: 0 30px; }
    .cabinet-block .block-entry .personal-listings {
      list-style: none;
      padding: 20px 0;
      margin: 0; }
      .cabinet-block .block-entry .personal-listings li {
        display: block;
        padding: 2px 0; }
        .cabinet-block .block-entry .personal-listings li a {
          color: #1d71a6;
          text-decoration: underline;
          display: block; }
        .cabinet-block .block-entry .personal-listings li:last-child {
          margin-top: 23px;
          border-top: 1px solid #bbbbbb;
          padding-top: 21px; }
          .cabinet-block .block-entry .personal-listings li:last-child a {
            color: #666666; }

.single-item-block .block-heading .links-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right; }
  .single-item-block .block-heading .links-block .reviews .text,
  .single-item-block .block-heading .links-block .share .text {
    text-decoration: underline; }
  .single-item-block .block-heading .links-block .reviews:hover,
  .single-item-block .block-heading .links-block .share:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.8; }
  .single-item-block .block-heading .links-block .reviews {
    margin-right: 25px; }
.single-item-block .block-entry {
  padding: 0 30px; }
  .single-item-block .block-entry .top {
    border-bottom: 1px solid #e3e3e3; }
    .single-item-block .block-entry .top .left {
      float: left; }
      .single-item-block .block-entry .top .left .preview {
        width: 150px;
        margin-top: 10px;
        margin-bottom: 6px;
        margin-left: -13px; }
        .single-item-block .block-entry .top .left .preview img {
          width: 100%; }
      .single-item-block .block-entry .top .left .rating {
        margin: 0 auto; }
        .single-item-block .block-entry .top .left .rating .rate-base-layer {
          color: #e3e3e3; }
        .single-item-block .block-entry .top .left .rating .rate-select-layer,
        .single-item-block .block-entry .top .left .rating .rate-hover-layer {
          color: #f6dd0b; }
    .single-item-block .block-entry .top .right {
      float: right;
      padding-top: 25px;
      padding-bottom: 15px; }
      .single-item-block .block-entry .top .right .cashbacks-block {
        margin-bottom: 10px; }
        .single-item-block .block-entry .top .right .cashbacks-block .new-cashback {
          display: inline-block;
          font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
          color: #ea3132;
          font-size: 17px; }
        .single-item-block .block-entry .top .right .cashbacks-block .old-cashback {
          display: inline-block;
          font-size: 17px; }
      .single-item-block .block-entry .top .right .cashback-btn {
        display: inline-block;
        color: #ea3132;
        font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
        font-size: 14px;
        text-decoration: none;
        background-color: #ffe7e7;
        text-transform: uppercase;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        padding: 12px 23px;
        text-align: center;
        -webkit-box-shadow: inset 0px -2px 0px 0px #ffd4d4;
        -moz-box-shadow: inset 0px -2px 0px 0px #ffd4d4;
        box-shadow: inset 0px -2px 0px 0px #ffd4d4;
        margin-bottom: 14px; }
        .single-item-block .block-entry .top .right .cashback-btn:hover {
          opacity: 0.8; }
      .single-item-block .block-entry .top .right .favorit-link {
        display: block;
        color: #1d71a6;
        font-size: 17px; }
        .single-item-block .block-entry .top .right .favorit-link .fa {
          color: #ea3132;
          font-size: 19px; }
        .single-item-block .block-entry .top .right .favorit-link .favorit-text {
          text-decoration: underline; }
        .single-item-block .block-entry .top .right .favorit-link:hover {
          text-decoration: none;
          opacity: 0.8; }
    .single-item-block .block-entry .top:after {
      content: '';
      display: block;
      clear: both; }
  .single-item-block .block-entry .conditions {
    padding-top: 21px; }
    .single-item-block .block-entry .conditions .conditions-heading {
      font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
      font-size: 17px;
      display: block;
      margin-bottom: 13px; }
    .single-item-block .block-entry .conditions .show-btn {
      color: #1d71a6;
      text-decoration: underline;
      margin-left: 3px; }

/* _________________ Tables ____________________*/
.popup__wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: rgba(255, 255, 255, 0.45);
  display: block; }
  .popup__wrapper .popup {
    position: relative; }
    .popup__wrapper .popup .popup__title {
      margin: 0 0 10px 0;
      font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
      font-size: 18px;
      text-align: center; }
    .popup__wrapper .popup .popup__close {
      width: 40px;
      height: 40px;
      background: white;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      font-size: 25px;
      text-align: center;
      line-height: 35px; }
      .popup__wrapper .popup .popup__close:hover {
        cursor: pointer; }
    .popup__wrapper .popup .popup__description {
      margin: 0 0 10px 0;
      font-family: 'HelveticaNeueCyr-Light', arial, sans-serif, helvetica;
      font-size: 13px;
      line-height: 16px; }
    .popup__wrapper .popup.registration {
      width: 480px;
      min-height: 135px;
      margin: 15% auto 0 auto;
      padding: 15px 20px;
      border-top: 3px solid #57B799;
      background: white;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); }
      .popup__wrapper .popup.registration hr {
        margin: 10px 0 25px 0;
        border: 0;
        background: #e2e2e2;
        width: 100%;
        height: 1px; }
      .popup__wrapper .popup.registration .popup__close {
        margin: 0 -41px 0 0; }
      .popup__wrapper .popup.registration .popup__content #authForm {
        width: 220px;
        float: left;
        display: block; }
        .popup__wrapper .popup.registration .popup__content #authForm label {
          width: 220px;
          height: 60px;
          display: block; }
          .popup__wrapper .popup.registration .popup__content #authForm label span {
            width: 220px;
            height: 15px;
            margin: 0 0 5px 0;
            font-family: 'HelveticaNeueCyr-Light', arial, sans-serif, helvetica;
            font-size: 14px;
            line-height: 15px;
            display: block; }
        .popup__wrapper .popup.registration .popup__content #authForm label:nth-child(1) {
          margin: 0 0 10px 0; }
        .popup__wrapper .popup.registration .popup__content #authForm .cb_button.btn-login {
          margin: 15px 0 0 0;
          float: right; }

.block-heading-shop {
  height: 92px; }

.high-rate-block .block-entry .shop-item .preview img {
  max-height: 59px; }

.reviews .review-form {
  padding: 40px 0 0 0; }
  .reviews .review-form input#review_title {
    width: 340px;
    height: 40px;
    padding: 5px;
    float: left;
    border: 1px solid #E3E3E3;
    display: block; }
  .reviews .review-form select {
    width: 200px;
    height: 40px;
    padding: 5px;
    margin: 0 0 0 40px; }
  .reviews .review-form textarea#review {
    width: 100%;
    min-width: 340px;
    height: 200px;
    resize: none;
    margin: 0;
    border: 1px solid #E3E3E3;
    display: block; }
  .reviews .review-form form {
    margin: 0;
    padding: 0; }
    .reviews .review-form form > span {
      height: 30px;
      margin: 10px 0 0 0;
      line-height: 30px;
      display: block; }
.reviews .review-author-body {
  float: left;
  min-width: 200px;
  padding: 30px 0; }
  .reviews .review-author-body .review-date {
    padding: 0;
    font-size: 12px; }
.reviews .review-body .review-text {
  padding: 10px 0 0 0; }

.single-category .active {
  color: #084B76 !important;
  border: none !important; }

.widget-search-title {
  margin: 5px 0 0 0;
  color: #eaeaea;
  display: block;
  position: absolute; }
  .widget-search-title b {
    padding: 0 4px;
    background: rgba(0, 0, 0, 0.15);
    display: inline-block; }

.alphabet__wrapper {
  padding: 10px 0 15px 30px;
  border-bottom: 1px solid #E3E3E3; }

.pagination__wrapper {
  width: 100%; }
  .pagination__wrapper .pagination {
    width: 100%; }
    .pagination__wrapper .pagination .pagination-spacing {
      padding: 0 5px; }
    .pagination__wrapper .pagination .text {
      padding: 0 8px; }
    .pagination__wrapper .pagination .curPage {
      padding: 0 10px;
      font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;
      font-size: 13px;
      font-weight: 600; }
    .pagination__wrapper .pagination > a {
      margin: 0 1px;
      padding: 3px 10px !important;
      border-radius: 3px;
      background: #f0f0f0;
      font-size: 14px;
      display: inline-block; }

/*# sourceMappingURL=main.css.map */
