.modal-styled {border:none;box-shadow:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;width:448px;margin-left:-224px;}
.modal-styled .close{opacity:1;font-size:0px;width:22px;height:22px;background:url(../images/close-green.png) no-repeat center;    margin-top: 4px;}
.modal-styled .modal-header{color:#fff;font-size:18px;line-height:31px;padding:20px 30px;background:#2e9273;}
.modal-styled .modal-header h2{    line-height: 31px;margin:0;font-size:18px;}
.modal-styled .modal-body {padding:29px 30px 30px; max-height: 450px;}
.modal-styled h4 {font-size:17px;color:#333333;    margin-bottom: 16px;}
.modal-styled .soc-vhod {border-top:1px solid #e3e3e3;padding-top:15px;}
.modal-styled .m-soc {}
.modal-styled .m-soc a {display:inline-block;line-height:0;margin-right:6px;}
.modal-styled .forgot-pass { color:#1d71a6;font-size:17px;    display: inline-block;    line-height: 27px;}
.modal-styled .form-control {text-shadow:0 0;color:#666666;font-size:17px;padding-left:40px; border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;border:none;    -webkit-box-shadow: inset 0px 3px 0px 0px #e4e4e4;    -moz-box-shadow: inset 0px 3px 0px 0px #e4e4e4;    box-shadow: inset 0px 3px 0px 0px #e4e4e4;    background-color: #f6f6f6;    height: 40px;}
.modal-styled .form-control::-webkit-input-placeholder {color:#666666;}
.modal-styled .form-control::-moz-placeholder          {color:#666666;}
.modal-styled .form-control:-moz-placeholder           {color:#666666;}
.modal-styled .form-control:-ms-input-placeholder      {color:#666666;}
.modal-styled .form-control.inp1 {background:url(../images/i-ico1.png) no-repeat 10px center #f6f6f6; }
.modal-styled .form-control.inp2 {background:url(../images/i-ico2.png) no-repeat 10px center #f6f6f6; }
.modal-styled table {    margin-bottom: 12px;}
.modal-styled table td {padding-bottom:10px;}
.modal-styled table .t-btn {color:#fff;width:132px; padding:0 40px;   font-family: 'HelveticaNeueCyr-Light', arial, sans-serif, helvetica; font-size:17px;float:none;border:none;display:inline-block;vertical-align:top;cursor:pointer;height:40px;line-height:40px;margin-top:10px;
  -webkit-box-shadow: inset 0 -3px 0 #196390; -moz-box-shadow: inset 0 -3px 0 #196390; box-shadow: inset 0 -3px 0 #196390;  background-color: #1d71a6;}
.modal-styled table .reg-btn {width:236px;margin-left:17px;margin-right:-3px; -webkit-box-shadow: inset 0 -3px 0 #cc2a2b; -moz-box-shadow: inset 0 -3px 0 #cc2a2b; box-shadow: inset 0 -3px 0 #cc2a2b;  background-color: #ea3132;}
/* */
.modal-lite {border:none;text-align:center;box-shadow:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;width:408px;margin-left:-204px;}
.modal-lite h3 {font-size:18px;text-align:center;margin:0 0 26px;}
.modal-lite .modal-body {padding:25px 30px 25px;    max-height: 450px;}
.modal-lite p {font-size:17px;line-height: 24px;}
.modal-lite p b {color:#217d60;   font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;}
.modal-lite .sm {color:#666666;font-size:14px;    margin-top: 26px;    line-height: 20px; text-shadow:0 0;}
.modal-lite .sm a {color:#1d71a6;font-size:14px;}
.modal-lite .br-img {text-align:center;font-size:0;border:1px solid #e3e3e3;width:273px;height:110px;line-height:108px;margin:23px auto 12px;}
.modal-lite .br-img img {max-height:100%;max-width:100%;vertical-align:middle;}
/* */
.loading_dots {    background: url(../images/dots.jpg) repeat-x 0 0;margin:0 auto 22px;height: 11px;    width:  91px;}
.loading_dots:before  { background: url(../images/dots.jpg) repeat-x 0 bottom; height: 11px;    width:  0px;display:block;content:'';
  -webkit-animation:  loading_dots 0s linear infinite;
  -moz-animation:     loading_dots 0s linear infinite;
  -ms-animation:      loading_dots 0s linear infinite;
	animation:        loading_dots 0s linear infinite;
	  animation-duration: 3s;
}

@-webkit-keyframes loading_dots{
0% { width:0;}
20% { width:20%;}
40% { width:40%;}
60% { width:60%;}
70% { width:80%;}
100% { width:100%;}
}
@-moz-keyframes loading_dots{
0% { width:0;}
20% { width:20%;}
40% { width:40%;}
60% { width:60%;}
70% { width:80%;}
100% { width:100%;}
}
@-ms-keyframes loading_dots{
0% { width:0;}
20% { width:20%;}
40% { width:40%;}
60% { width:60%;}
70% { width:80%;}
100% { width:100%;}
}
@keyframes loading_dots{
0% { width:0;}
20% { width:20%;}
40% { width:40%;}
60% { width:60%;}
70% { width:80%;}
100% { width:100%;}
}
/* */
.inner-top {padding-top:49px;background:url(../images/gr-bg.jpg) repeat;}
.inner-top h1 {    margin: 16px 50px 10px 8px;}
.cab-header {position:relative;}
.cab-header:after {content:'';position:absolute;top:4px;right:7px;background:url(../images/cab-ico.png) no-repeat;width:38px;height:38px;}
.cab-blocks {    overflow: hidden;padding-bottom: 19px;border:1px solid #e3e3e3;border-top:none;margin-bottom:51px;}
.cab-block b {    font-family: 'HelveticaNeueCyr-Bold', arial, sans-serif, helvetica;}
.cab-block h3 {font-size:18px;     margin: 0;height:80px;padding:28px 37px;line-height:20px;background:#f6f6f6;}
.cab-block .reg-btn {width:230px;text-align:center;display:block;float:none; padding:0 20px;}
.cab-block .cab-cont {padding:34px 40px 40px;}
.cab-block .pagination {font-size:0;    margin: 29px 0 0;}
.cab-block .pagination__wrapper .pagination .disabled {display:none;}
.cab-block .pagination__wrapper .pagination .text {display:none;}
.cab-block .pagination__wrapper .pagination > a {    min-width: 30px;background:#2e9273;color:#fff; border-radius:0;height:30px;display:inline-block;line-height:24px; }
.cab-block .pagination__wrapper .pagination .curPage {    min-width: 30px;background:#e8e8e8;color:#333333; height:30px;display:inline-block; line-height:24px;  padding: 3px 10px;font-size:14px;font-weight:300;    font-family: 'HelveticaNeueCyr-Light', arial, sans-serif, helvetica;}
.cab-table {width:100%;font-size:17px;     margin-bottom: 1px;}
.cab-table th { border-bottom:1px solid #e3e3e3;padding:0px 0 15px;line-height:19px;color:#666666;font-size:14px;font-weight:300; }
.cab-table td { border-bottom:1px solid #e3e3e3;padding:10px 0;line-height:19px; }
.cab-table td.td1 {width:192px;}
.cab-table td.td2 {width:160px;}
.cab-table td.td3 {width:176px;}
.cab-table .pval {white-space:nowrap;}
.cab-table .td-val {text-align:right; padding-right:82px;width:127px;}
.cab-table .td-val .dis {color:#999999; }
.cab-table .td-stat {width:144px; padding-left:22px;}
.cab-table .td-stat .stat {position:relative;}
.cab-table .td-stat .stat:before {width:9px;height:9px;border-radius:50%;position:absolute;top:3px;left:-22px;content:'';}
.cab-table .td-stat .stat1:before {background:#f6ca30;}
.cab-table .td-stat .stat2:before {background:#47c900;}
.cab-table .td-stat .stat3:before {background:#ff8181;}
.cab-right {margin-left:20px;float:right;width:231px;}
.abalance {margin-bottom:10px;margin-top:6px;  background:#e3f4ff;border-top:3px solid #1a6ca6;padding:22px 34px 22px 10px; text-align:right;}
.abalance h4 {margin:0 0 20px;font-size:17px;}
.abal-val {font-size:17px;    line-height: 27px; margin-right:-6px;}
.abal-val span {font-size:24px;}
.cab-left {overflow:hidden;max-width:680px;margin-top:6px; }
.cab-left .cab-table td:first-child {padding-left:20px;}
.cab-left .cab-table .td-val {padding-right:20px;}

@media screen and (max-width: 1199px) {
	.cab-table td.td1 {    width: 165px;}
	.cab-table td.td2 {    width: 110px;}
	.cab-table .td-val {padding-right:30px;}
}
@media screen and (max-width: 991px) {
	.cab-block .cab-cont {    padding: 20px 20px 20px;}
	.cab-right {float:none;width:100%;margin:0 0 20px;}
	.abalance {text-align:left;margin:0px 0 10px 0;padding: 22px 20px 22px 20px;}
	.cab-table {font-size:15px;}
	.cab-left {max-width:100%;}
	.cab-table .td-stat {    width: 130px;}
	.cab-table td.td1 {    width: 130px;    min-width: 130px;}
	.cab-table td.td2 {    width: 100px;  min-width: 100px;}
	.cab-table td.td3 {    width: 130px;  min-width: 130px;}
	.cab-table .td-val {padding-left:20px;}
	.cab-block h3 {padding:20px;height:60px;}
	.inner-top h1 {margin-left:-10px;}
}
@media screen and (max-width: 767px) {
	.t-scroll {overflow:auto;padding-bottom:5px;}
	.cab-left .cab-table td:first-child {    padding-left: 0px;    width: 90px;}
	.cab-left .cab-table .td-val {   padding-left: 5px;   padding-right: 0px;}
}
@media screen and (max-width: 639px) {
	.modal-styled, .modal-lite {width:300px;margin-left:-150px;}
	.modal-styled .modal-body, .modal-lite .modal-body {    padding: 29px 20px 30px;}
	.modal-styled table .t-btn{display:block;width:100%;}
	.modal-styled table .reg-btn {width:100%;margin-left:0px;margin-right:0px;}
	.modal-lite .br-img {width:260px;}
}